button:hover{
    background-color: rgb(99, 178, 247);
    box-shadow: 10px;
}
.main_box{
    background-image: url("photo.jpg");
    background-size:cover;
    height:100vh;
}
.sidebar_menu{
    position:fixed;
    width:350px;
    height:710px;
    translate: -400px;
    box-shadow: 4px 4px 4px 1px rgba(97, 94, 94, 0.291);
    background-color: rgba(50, 51, 51, 0.479);
    margin:7px 7px;
    cursor: pointer;
    border-radius: 5px 5px 7px 5px;

}
 #check:checked~.sidebar_menu{
    left:0px;
    translate:0px;
    transition:linear;
    transition-delay:0.5s;
 }
 #check:checked~.btn_one{
    opacity:0;
 }
 #check:checked~.btn_two{
    opacity:100;
    position:absolute;
    top:1px;
 }
 .btn_one:hover{
    transform: scale(1.5);
 }
 .btn_two:hover{
    transform:scale(1.5);
 }
.logo a{
    color:yellow;
    position:absolute;
    text-decoration: none;
    left:50px;
    top:40px;
    font-size:larger;
    transform:scale(1.5);
   
}
.headermenu{
    height:100px;
    border:2px solid  rgba(97, 94, 94, 0.291);
    border-radius: 5px 5px 7px 5px;
}
 .btn_one{
    position: absolute;
    color:white;
   font-size:30px;
   margin:25px 25px;
}
.btn_two{
    position:absolute;
    right:50px;
    top:45px;
}
#check{
    display: none;
}
.menu ul li i{
    margin:25px;
    color:white;
}
.menu ul li a{
    text-decoration: none;
    color:white;
}
.menu ul li:hover{
    border:2px solid  rgba(97, 94, 94, 0.291);
}
.menu{
    margin:50px 0px;
}
.social_media a{
    font-size:large;
    color:white;
    margin:0px 5px;
}
.social_media a{
    /* position:absolute; */
    left:25px;
    opacity:0.3;
}
.social_media a:hover{
    opacity:1;
}
#social1:action{
    opacity:1;
    transform:scale(1.1);
}
#social1:hover{
    color:blue;
}
#social2:hover{
    color:skyblue;
}
#social3:hover{
    color:rgb(156, 55, 121);
}
#social4:hover{
    color:red;
}